<app-modal-popup (modalSubmitted)="handleModalSubmitted($event)"></app-modal-popup>
<div clas="row1">
    <div>
        <button (click)="openModal()">Open Modal</button>
        <p>Data Submited :{{submittedData}}</p>
    </div>
        <button (click)="openiModal()">Click</button>
    
    
</div>




<div class="modal" id="Mdi">
    <div class="modal-content">
    
        <div id="product">
           

            <div class="main">
                <span class="iclose" (click)="closeiModal()">&times;</span>
                <p><strong><span>{{isEven}}</span></strong></p>

                    <h2>{{count}}</h2>
                   
                    
                    <div>
                        <button [disabled]='isNotdisable'  (click)="inc()">+</button>
                        <button [disabled]='isNotdisable1' (click)="dec()">-</button>
                        <button (click)="res()">Reset</button>
                    </div>
                </div>
        </div>
        
    </div>
    </div>
    

